<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
    <form action="/compute" method="post"> 
        <ul>
         <li>
           <label for="title">Event Title:</label>
           <input type="text" id="title" name="title" />
         </li>
         <li>
           <label for="start">Start Date:</label>
           <input type="date" id="start" name="start" />
         </li>
         <li>
           <label for="end">End Date:</label>
           <input type = "date" id ='end' name="end"/>
         </li>
         <li>
            <label for="startTime">Start Time:</label>
            <input type = "datetime-local" id ='startTime' name="startTime"/>
          </li>
          <li>
            <label for="endTime">End Date:</label>
            <input type = "datetime-local" id ='endTime' name="endTime"/>
          </li>
          <li>
            <label for="color">Event Color:</label>
            <input type = "color" id ='color' name="color"/>
          </li>
          
            <input type = "submit" value = "Submit">
          
        </form>
</body>


</html>


   